<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>lesCigales.ORG</title>
	<link href="style.css" rel="stylesheet" type="text/css" title="lesCigales.ORG"/>
	<link href="banniere.css" rel="stylesheet" type="text/css" title="lesCigales.ORG"/>
</head>

<body>

<div id="banner_border_top"></div>

<div id="banner">
	<div class="banner_border_leftright"></div>
		<div id="banner_content">
				<div id="musiccontrol">[Boutton]</div>
		</div>
	<div class="banner_border_leftright"></div>
</div>

<div id="banner_border_bottom"></div>

<div id="content">

	<div id="menu">
		<ul>
			<li><a href="#">Inscriptions</a></li>
			<li><a href="#">F.A.Q</a></li>
			<li><a href="#">Charte</a></li>
			<li><a href="#">Bug-report</a></li>
			<li><a href="#">Dons</a></li>
			<li><a href="#">A-propos</a></li>
			<li><a href="#">Goodies</a></li>
		</ul>
	</div>
	
	<div id="content_centerbackground">
	
		<div class="lesboxes">
			<div class="boxe">
				<div class="titre_boxe">
					<p>TITRE BOXE</p>
				</div>
				<div class="contenu_boxe">
					<ul>
						<li class="titre">Un Titre</li>
						<li><a href="#">Un lien</a></li>
						<li><a href="#">Un lien</a></li>
						<li class="titre">Un Titre</li>
						<li><a href="#">Un lien</a></li>
						<li><a href="#">Un lien</a></li>
						<li class="stitre">Un sous titre</li>
						<li><a href="#">Un lien</a></li>
						<li><a href="#">Un lien</a></li>
						<li><a href="#">Un lien</a></li>
						<li><a href="#">Un lien</a></li>
						<li class="stitre">Un sous titre</li>
						<li><a href="#">Un lien</a></li>
						<li><a href="#">Un lien</a></li>
						<li><a href="#">Un lien</a></li>
						<li><a href="#">Un lien</a></li>
					</ul>
					<p>
					Un texte Un texte Un texte Un texte Un texte Un texte 
					</p>
				</div>
			</div><!-- <div class=boxe> !-->

			<div class="boxe">

				<div class="titre_boxe">
					<p>TITRE BOXE</p>
				</div>
				<div class="contenu_boxe">
					<p>
						Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla 
						Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla 
						Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla 
						Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla 
						Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla 
					</p>
				</div>
			</div><!-- <div class=boxe> !-->


		</div><!-- <div class=lesboxes> !-->




		<div class="news">
		
			<p class="titre_news">Une note</p>
			<p class="date_news">[ Type:  Note ]</p>
			<div class="text_news">
				<p>
					Tu peux aussi simplement mettre du texte texte texte texte texte texte
					texte texte texte texte texte texte texte texte texte
					texte  texte texte texte texte texte texte texte texte
					texte texte texte texte texte texte texte texte texte texte texte 
					texte  texte texte texte texte texte texte texte texte texte texte
					texte texte texte texte texte texte texte texte texte
				</p>
				TODO:
				<ul>
				<li>Mettre les Bouttons</li>
				<li>Banniere</li>
				<li>Autre Chose ?</li>
				</ul>
			</div>
			
			<p class="titre_news">Titre news</p>
			<p class="date_news">10-12-2006</p>
			<div class="text_news">
				<p>
					Familiarisez vous avec Opera en naviguant dans les fichiers d'aide. Vous pourrez y trouver la gestion des onglets,
					d&eacute;couvrir comment utiliser les recherches int&eacute;gr&eacute;es, et apprendre comment param&egrave;trer
					Opera selon vos go&ucirc;ts en utilisant les pr&eacute;f&eacute;rences. <br /> Premi&egrave;re fois avec Opera9
				</p>

				<p>
					Opera 9 apporte plusieurs nouvelles fonctions, comme les widgets, le blocage de contenu, BitTorrent, et un
					&eacute;diteur de moteur de recherche.
				</p>
				<p>
					Si vous connaissez bien Opera 8, vous devriez consulter les nouveaut&eacute;s d'Opera 9 pour un aper&ccedil;u des
					nouvelles fonctions.
				</p>
				<div class="boutton_news">[Boutton]</div>
			</div>


			<p class="titre_news">Titre news</p>
			<p class="date_news">10-12-2006</p>
			<div class="text_news">
				<p>
					Familiarisez vous avec Opera en naviguant dans les fichiers d'aide. Vous pourrez y trouver la gestion des onglets,
					d&eacute;couvrir comment utiliser les recherches int&eacute;gr&eacute;es, et apprendre comment param&egrave;trer
					Opera selon vos go&ucirc;ts en utilisant les pr&eacute;f&eacute;rences. <br /> Premi&egrave;re fois avec Opera9
				</p>

				<p>
					Opera 9 apporte plusieurs nouvelles fonctions, comme les widgets, le blocage de contenu, BitTorrent, et un
					&eacute;diteur de moteur de recherche.
				</p>
				<p>
					Si vous connaissez bien Opera 8, vous devriez consulter les nouveaut&eacute;s d'Opera 9 pour un aper&ccedil;u des
					nouvelles fonctions.
				</p>
				<div class="boutton_news">[Boutton]</div>
			</div>


			<p class="titre_news">Titre news</p>
			<p class="date_news">10-12-2006</p>
			<div class="text_news">
				<p>
					Familiarisez vous avec Opera en naviguant dans les fichiers d'aide. Vous pourrez y trouver la gestion des onglets,
					d&eacute;couvrir comment utiliser les recherches int&eacute;gr&eacute;es, et apprendre comment param&egrave;trer
					Opera selon vos go&ucirc;ts en utilisant les pr&eacute;f&eacute;rences. <br /> Premi&egrave;re fois avec Opera9
				</p>

				<p>
					Opera 9 apporte plusieurs nouvelles fonctions, comme les widgets, le blocage de contenu, BitTorrent, et un
					&eacute;diteur de moteur de recherche.
				</p>
				<p>
					Si vous connaissez bien Opera 8, vous devriez consulter les nouveaut&eacute;s d'Opera 9 pour un aper&ccedil;u des
					nouvelles fonctions.
				</p>
				<div class="boutton_news">[Boutton]</div>
			</div>

		</div><!-- <div class=news> !-->


</div>




	<div id="content_maximize">&nbsp;</div>
	</div><!-- <div id=content> !-->
	
<div id="footer"></div>

<div id="footer2"><p>eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p></div>


<!--</div> <div id=page> !-->

</body>
</html>
